# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temple txt files
tmp*.txt

# Py cache
*.pyc

# vim temple file
*.swp

# log file
*log*
